.height {
    height: 54px;
}


.container {
    max-width: 960px !important;
    
}

.searchbar{
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;   
    font-size: 15px; 
    height: 28px; 
    width: 216px; 
    text-align: center;
}

body {
    padding-top: 5rem;
  }

  @media (min-width: 768px) {
    
    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(25%);
    }
    
    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
  transform: translateX(0);
}