.height {
    height: 54px;
}


.container {
    max-width: 960px !important;
    
}

.searchbar{
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;   
    font-size: 15px; 
    height: 28px; 
    width: 216px; 
    text-align: center;
}

body {
   
    padding-top: 5rem;
    
  }

.circle {
    border-radius: 50%;
}
.storyborder{
    border: 2px solid purple;

}



.story {
    height: 60px;
    width: 60px;

}

.username {
    display: block;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: .01em;
    max-width: 74px;
    text-align: center;

}


::placeholder {
    text-align: center;
    font-size: 14px;
    color: gray;
    background: url(/img/search-solid.svg);
    background-repeat: no-repeat;
    opacity: 0.5;
    background-position: 35%;
    background-size: 6%;
}

.white {
    background-color: white;
}

.gray {
    background-color:#fafafa;"
}