.height {
    height: 54px;
}


.container {
    max-width: 960px !important;
    
}

.searchbar{
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;   
    font-size: 15px; 
    height: 28px; 
    width: 216px; 
    text-align: center;
}
